/* Global styling */
body {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #51557E;
    font-family: "Shippori Mincho B1";
    justify-items: center;
    color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Headline styling */
.headline {
    width: 100%;
    height: 100px;
    margin-top: -9px;
    background-color: #1B2430;
    display: flex;
    place-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.headline a {
    color: white;
    margin-left: 8%;
    font-size: 30px;
}

.headline label {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 23%;
}
/* Content subtitle styling */
.content_subtitle {
    text-align: center;
    margin-top: -7%;
    padding: 0 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
}

.content_subtitle p {
    margin-top: 2%;
    width: 95%; /* Lebar teks disesuaikan untuk semua perangkat */
    max-width: 500px; /* Maksimum lebar teks */
    height: max-content;
    text-align: start;
    margin-left: 12%;
    font-size: 17px;
}

/* Main content styling */
.main_content {
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content1 {
    width: 45%; /* Lebar konten disesuaikan untuk tablet dan layar besar */
    height: 80px;
    margin-bottom: 20px;
    background-color: #816797;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: -45px;
    border-radius: 10px;
}

.content1 label {
    width: 100%;
}

/* Media queries */
@media (max-width: 1024px) {
    /* Tablets dan perangkat dengan lebar layar antara 768px dan 1024px */
    .headline label {
        font-size: 20px;
        margin-left: 10%;
    }
}

@media (max-width: 768px) {
    /* Perangkat iPad dan smartphone dalam orientasi potrait */
    .headline label {
        font-size: 18px;
        margin-left: 5%;
    }

    .title {
        font-size: 25px;
    }

    .content_subtitle p {
        font-size: 15px;
    }

    .content1 {
        width: 90%;
        margin-left: -40px; /* Konten mengisi lebar lebih besar pada perangkat kecil */
    }
}

@media (max-width: 480px) {
    /* Perangkat dengan layar lebih kecil seperti smartphone potrait */
    .headline label {
        font-size: 16px;
        margin-left: 5%;
    }

    .title {
        font-size: 20px;
    }

    .content_subtitle p {
        font-size: 14px;
    }

    .content1 {
        width: 100%; /* Konten mengisi lebar penuh pada perangkat sangat kecil */
    }
}
